extends layout

block content
	h1 Express
	p Welcome to Express
	
	if (error)
		div.error #{error}
	if (weeks)
		div.weeks
			each week in weeks
				div.week
					each movie in week
						a(href='#{movie.link}') #{movie.title}
						if (movie.dates)
							div.dates
								each date in movie.dates
									div.date #{date.date} #{date.time}
	else
		div.no-weeks Empty result

