extends layout

block content
	h1= title
	p Welcome to #{title}
	
	if (error)
		div.error #{error}
	if (result)
		div.result
			each temp in result.rows
				div.result-row
					div.result-column
						a(href='#{temp.link}') #{temp.title}
	else
		div.empty-result Empty result
