extends layout

block content
	h1= title
	p Welcome to #{title}
	
	if (error)
		div.error #{error}
	if (result)
		div.result
			each temp in result
				div.result-row
					div.result-column
						a(href='#{temp.link}') #{temp.title}
	else
		div.empty-result Empty result
	if (weeks)
		div.weeks
			each week in weeks
				div.week Monday: #{week.monday}, sunday: #{week.sunday}
	else
		div.no-weeks Something went wrong with weeks computation
