extends layout

block content
	h1 Sound Motion
	
	if (error)
		div.error #{error}
		
	if (weeks)
		each week in weeks
			each movie in week
				div.row.movie-top
					div.span12
						a(href='#{movie.link}')= movie.title
				div.row.movie-middle
					each date in movie.dates
						div.span4
							div.row
								div.span4= date.date.toFormat('MMMM DD YYYY')
							div.row
								div.span4
									each time, i in date
										if(i == date.length -1)
											span #{time.substr(0, 5)}
										else
											span #{time.substr(0, 5)}, 
				div.row.movie-bottom
					div.span12
						p= movie.note
	else
		div.no-weeks Empty result

