extends layout

block content
	h1 Sound Motion
	
	if (error)
		div.error #{error}
		
	if (weeks)
		each week in weeks
			each movie in week
				div.row
					div.span12
						a(href='#{movie.link}')= movie.title
				div.row
					each date in movie.dates
						div.span4
							div.row
								div.span4= date.date.toFormat('MMMM D YYYY')
							div.row
								div.span4
									each time in date
										span #{time.substr(0, 5)}, 
				div.row
					div.span12
						p= movie.note
	else
		div.no-weeks Empty result

